/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************************** Custom Styles begins here ********************/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: grey;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0 5rem 0;
  border-bottom: 2px solid rgb(220, 220, 220);
  padding-bottom: 2rem;
}
h3 {
  margin: 1rem;
}
h4 {
  margin-bottom: 1rem;
}
h5 {
  font-weight: 500
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
}
li {
  margin: 0.5rem 0;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.padding-3rem {
  padding: 3rem 1rem;
}
.background-primary {
  background-color: rgba(216, 216, 216, 0.5);
}
.update {
  color: rgb(116, 116, 116);
  border: 5px double rgb(216, 216, 216);
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: .5rem 1rem;
  text-align: center;
  margin: 5rem auto;
}
/************ Navigation ***********/
.main-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  color: grey;
}
.main-logo:hover {
  background-color: rgb(240, 240, 240);
  border-bottom-right-radius: 1rem;
  color: #000;
}
header {
  border-bottom: 2px solid rgb(220, 220, 220);
}
header ul li {
  margin-left: 2rem;
  padding: 1rem;
  position: relative;
}
.logo-resume {
  border-radius: 1rem;
}
.logo-github,
.logo-codewars {
  border-radius: 50%;
}
.logo-twitter {
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.tooltip {
  position: absolute;
  bottom: -3rem;
  background-color: #706f6f;
  color: #fff;
  padding: 0.5rem 0.7rem;
  font-weight: 700;
  border-radius: 0.5rem;
  display: none;
}
header li:hover {
  background-color: rgba(216,216,216);
}
header li:hover .tooltip {
  display: block;
  z-index: 5;
}
.blue {
  color: rgb(29, 155, 240);
}
.black {
  color: rgb(36, 41, 47);
}
/************ Hero Section ***********/

.profile-image {
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  box-shadow: 1px 1px 20px #000;
  outline: 10px solid #fff;
}
.profile-image:hover {
  border: .5rem solid rgb(224, 222, 222);
  box-shadow: 1px 1px 40px #000;
}
.hero-para{
  box-shadow: 1px 1px 30px #d7d5d5;
  margin: 0 3rem;
  border-radius: 1rem;
  padding: 2rem;
  line-height: 2rem;
  font-size: 1.4rem;
  color: grey;
}
.hero-para-wrapper  {
  rotate:-10deg;
  box-shadow: inset 1px 1px 30px #d7d5d5;
  border-radius: 1rem;
  height: 90%; 
  margin: 1rem;
}
.hero-para-wrapper:hover {
  box-shadow:inset 1px 1px 50px #d7d5d5;
}
.circle {
  padding: 1rem;
  box-shadow: 1px 1px 30px #d7d5d5;
  border-radius: 50%;
  margin: 1rem;
}
/************ Skills ***********/
.logo-container {
  width: 25%;
  text-align: center;
}
.logo {
  width: 10rem;
  cursor: pointer;
  filter: grayscale(100%);
}
.logo:hover {
  filter: grayscale(0%);
}

/************ Projects / Blogs ***********/
.project-title {
  text-align: center;
  border-bottom: 1px solid rgb(216, 216, 216);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.thumbnail {
  width: 100%;
}
.thumbnail img {
  box-shadow: 1px 1px 30px rgba(158, 156, 156, .5);
}
.thumbnail:hover {
  outline: 4px solid rgb(116, 116, 116);
  box-shadow: 1px 1px 30px rgba(158, 156, 156);
}

.card {
  width: 400px; 
  border-radius: 0.5rem;
  position: relative;
}

.card-button {
  position: absolute;
  top: 45%;
  left: 35%;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
.card-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 5px #000;
}
.github-link {
  background-color: rgba(216,216,216, .8);
  color: #000;
  position: absolute;
  right: 0rem;
  top: 0rem;
  padding: .5rem 1rem;
  font-weight: 700;
}
.github-link:hover {
  box-shadow: 1px 1px 5px grey;
}
/************ Footer ***********/
.footer {
  background-color: rgb(60, 60, 60);
  color: #fff;
  text-align: center;
}
.primary-footer {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.footer h4 {
  color: rgba(216, 216, 216, 0.4);
}
.attribution li {
  display: inline-block;
}
.attribution li::after {
  content: ' | ';
}
.footer a {
  color: rgba(216, 216, 216, 0.4);
}
.connect-footer {
  width: 20rem;
  margin: 2rem auto;
  margin-bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(190, 129, 246, 0.4);
}
.attribution-footer {
  margin-top: 2rem;
}


